<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @catagory.label %>
</p>

<p>
  <strong>Catogorie:</strong>
  <%= @catagory.catogorie %>
</p>

<%= link_to 'Edit', edit_catagory_path(@catagory) %> |
<%= link_to 'Back', catagories_path %>
