<p id="notice"><%= notice %></p>

<h1>Listing Domaines</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @domaines.each do |domaine| %>
      <tr>
        <td><%= domaine.label %></td>
        <td><%= link_to 'Show', domaine %></td>
        <td><%= link_to 'Edit', edit_domaine_path(domaine) %></td>
        <td><%= link_to 'Destroy', domaine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Domaine', new_domaine_path %>
