<p id="notice"><%= notice %></p>

<h1>Listing Style Interactions</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @style_interactions.each do |style_interaction| %>
      <tr>
        <td><%= style_interaction.label %></td>
        <td><%= link_to 'Show', style_interaction %></td>
        <td><%= link_to 'Edit', edit_style_interaction_path(style_interaction) %></td>
        <td><%= link_to 'Destroy', style_interaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Style interaction', new_style_interaction_path %>
